@import './mixins.scss';
@import './fonts.scss';

.App{
  &__bottom{
    display: flex;
    margin: 0 80px;

    &--left{
      width: 712px;
      margin-right: 24px;

      &__comments{
        display: flex;
       flex-direction: column-reverse;
      }
    }

    &--right{
      padding-top: 40px;
      &__header{
        font-size: 16px;
      }
    }

  
         
  }   
}

  