@import './mixins.scss';
@import './fonts.scss';
* html {
  margin: 0;
}
.App{

@include mobile{
  margin: 0 16px;
} 

@include tablet{
  margin: 0;
}
  &__bottom{
    
    @include desktop{
        margin: 0 80px;
        display: flex;
    }


  
    &--left{

      @include tablet{
       margin-left: 24px;
       margin-right: 24px;
      }
      @include desktop{
           width: 712px;
      margin-right: 24px;
         border-right: solid 1px #e1e1e1;
      }
   
  
      &__comments{
        display: flex;
       flex-direction: column-reverse;
      }
    }

    &--right{
      @include mobile{

   
      }
      @include tablet{
        padding-top: 40px;
        margin-left: 24px;
      }

      @include desktop{
        margin-left: 0;
      }

    
      
      &__header{
        font-size: 14px;
        color: #afafaf;
        font-family: 'Avenir-Next-Medium';
        margin-bottom: 40px;
        margin-top: 0;
      }
    }

  
         
  }   
}

  