@import './mixins.scss';
@import './variables';

.App{
  &__bottom{
    display: flex;
    margin: 0 120px;

    &--left{
      
      margin-right: 24px;

      &__comments{
        display: flex;
       flex-direction: column-reverse;
      }
    }
         
  }   
}

  