@import './mixins.scss';
@import './fonts.scss';

.App{
  &__bottom{
    display: flex;
    margin: 0 80px;

    &--left{
      width: 712px;
      margin-right: 24px;
      border-right: solid 1px #e1e1e1;
      &__comments{
        display: flex;
       flex-direction: column-reverse;
      }
    }

    &--right{
      padding-top: 40px;
      &__header{
        font-size: 14px;
        color: #afafaf;
        font-family: 'Avenir-Next-Medium';
        margin-bottom: 40px;
        margin-top: 0;
      }
    }

  
         
  }   
}

  