@import "../../mixins.scss";
@import "../../fonts.scss";
//@import "../../../public/assets/Images/Mohan-muruge.jpg";

.NavBar {
    display: flex;
    flex-wrap: wrap;
    @include mobile {
        justify-content: center;
        margin-bottom: 16px;
    }
    @include tablet {
        flex-wrap: nowrap;
        margin-bottom: 24px;
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
        justify-content: space-between;
    }
    @include desktop {
        margin-left: 120px;
        margin-right: 120px;
    }

    &__logo {
        @include mobile {
            margin: 12px 0;
        }
    }
    &__Search {
        display: flex;
        @include mobile {
            flex-wrap: wrap;
        }
        @include tablet {
            align-items: center;
            flex-wrap: nowrap;
        }
        &--field {
            border: 1px solid #e1e1e1;
            background-color: #f8f8f8;
            border-radius: 4px;
            height: 48px;

            outline: none;
            resize: none;
            font-size: 14px;
            line-height: 20px;
            @include mobile {
                width: 288px;
                margin-bottom: 8px;
            }
            @include tablet {
                width: 200px;
                margin-bottom: 0;
            }
        }

        &--button {
            background-color: #0095ff;
            color: white;
            border-radius: 4px;
            border: none;
            height: 48px;
            display: flex;
            align-items: center;
            font-family: "Avenir-Next-Demi";
            outline: none;

            @include mobile {
                margin-right: 16px;
                margin-left: 0;
                justify-content: center;
                font-size: 16px;
                width: 224px;
            }

            @include tablet {
                margin-right: 24px;
                margin-left: 24px;
                width: 124px;
            }
        }

        &--upload {
            margin-right: 8px;
        }

        &--icon {
            border-radius: 50%;
            width: 48px;
            height: 48px;
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            align-self: center;
        }
    }
}
