.NavBar-Search{
&__field{
    color:red;
}

&__button{
    background-color:red;
}

&__icon{
    border-radius: 50%;
    width: 48px;
    height: 48px;
  //  background-image: url('/public/assets/Images/Mohan-muruge.jpg');
    background-position: left;
   background-size: cover;
    background-repeat: no-repeat;
    align-self: start;
    border: solid 1px black;
}

}