@import "../../mixins.scss";
@import "../../fonts.scss";

.comments-form {
    background-color: #ffffff;
    display: flex;
    padding-bottom: 24px;
    border-bottom: solid 1px #e1e1e1;
    justify-content: center;
    align-content: center;
    align-items: center;
    @include mobile{
        display: flex;
        flex-wrap: wrap;

    
    }
    @include tablet{width: 712px;}

    &__header{
        font-family: 'Avenir-Next-Demi';
        font-size: 16px;

        @include mobile{
            margin-bottom: 32px;
        }
    }
    &__icon {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        align-self: flex-end;
        @include mobile{
            margin-right: 16px;
        }
        @include tablet{
               margin-right: 24px;  
        }
   
    }

    &__field {
        display: flex;
        @include mobile{
            flex-direction: column;
            flex-wrap: wrap;
        }
        @include tablet{
           flex-direction: column;  
        }
       

        textarea:focus {
            border: 2px solid #0095ff;
            outline: none;
        }
        &--button {
            background-color: #0095ff;
            color: #ffffff;
            font-family: "Avenir-Next-Demi";
            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;
            height: 48px; 
            border: 0px;
          
          
            @include mobile{
                align-self: flex-end; 
                width: 224px;
                margin-left:64px ;
                margin-top: 16px;
            }
           
          

            @include tablet{
                 margin-left: 16px;
            width: 160px;
          
            }
        }
        &--title {
            font-family: "Avenir-Next-Demi";
            color: #afafaf;
            font-size: 14px;
            line-height: 22px;
            margin: 0;
        }
        &--comment {
            border: 1px solid #afafaf;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f8f8f8;
           
            @include mobile{
                width: 224px;
            }
            @include tablet{
                 width: 436px;  
            }
         

            font-size: 14px;
            line-height: 20px;
            resize: none;
        }
    }
}
