@import "../../mixins.scss";
@import "../../fonts.scss";

.comments-form {
    background-color: #ffffff;
    display: flex;
    padding-bottom: 24px;
    border-bottom: solid 1px #e1e1e1;
    width: 712px;

    &__header{
        font-family: 'Avenir-Next-Demi';
        font-size: 16px;
    }
    &__icon {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        align-self: flex-end;
        margin-right: 24px;
    }

    &__field {
        display: flex;
        flex-direction: column;

        textarea:focus {
            border: 2px solid #0095ff;
            outline: none;
        }
        &--button {
            background-color: #0095ff;
            color: #ffffff;
            font-family: "Avenir-Next-Demi";
            border-radius: 4px;
            font-size: 16px;
            line-height: 24px;

            border: 0px;
            align-self: flex-end;
            margin-left: 16px;
            width: 160px;
            height: 48px;
        }
        &--title {
            font-family: "Avenir-Next-Demi";
            color: #afafaf;
            font-size: 14px;
            line-height: 22px;
            margin: 0;
        }
        &--comment {
            border: 1px solid #afafaf;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: #f8f8f8;
            width: 436px;

            font-size: 14px;
            line-height: 20px;
            resize: none;
        }
    }
}
