@import "../../mixins.scss";
@import "../../fonts.scss";

.link{
    text-decoration: none;
}
.NavBar {
    display: flex;
    flex-wrap: wrap;
    @include mobile {
        justify-content: center;
        margin-bottom: 16px;
    }
    @include tablet {
        flex-wrap: nowrap;
        margin-bottom: 24px;
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
        justify-content: space-between;
    }
    @include desktop {
        margin-left: 120px;
        margin-right: 120px;
    }

    &__logo {
        @include mobile {

            
            margin: 12px 12px 0 12px;
        }

  
       
    }
    &__Search {
        display: flex;
        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 16px;
        }
        @include tablet {
            align-items: center;
            flex-wrap: nowrap;
        }
        &--field {
            border: 1px solid #e1e1e1;
            background-color: #f8f8f8;
            border-radius: 4px;
            height: 48px;
            margin-right: 24px;
            outline: none;
            resize: none;
            font-size: 14px;
            line-height: 20px;
            @include mobile {
                width: 288px;
                margin-bottom: 8px;
                margin-right: 1%;
                margin-top: 12px
               
            }
            @include tablet {
               
                margin-bottom: 0;
                margin-right: 24px;
                margin-top:0;
            }

            @include desktop{
             
            }
        }

&--user{
    display: flex;
    &__button {
       
        background-color: #0095ff;
        color: white;
        border-radius: 4px;
        border: none;
        height: 48px;
        display: flex;
        align-items: center;
        font-family: "Avenir-Next-Demi";
        outline: none;

        @include mobile {
            margin-right: 16px;
            margin-left: 0;
            justify-content: center;
            font-size: 16px;
            width: 224px;
        }

        @include tablet {
            margin-right: 24px;
            margin-left: 0;
            width: 124px;
        }
    }

    &__upload {
        margin-right: 8px;
    }

    &__icon {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        align-self: center;
    }
}


    }
}
