

@font-face{
font-family: 'Avenir-Next-Bold';	
 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");    
}

@font-face{
  
font-family: 'Avenir-Next-BoldIt';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-BoldIt.otf");
  
}

@font-face{
  font-family:'Avenir-Next-Demi';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
 
}

@font-face{

font-family:'Avenir-Next-DemiIt';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-DemiIt.otf");

}
@font-face{
font-family:'Avenir-Next-Heavy';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Heavy.otf");

}

@font-face{
font-family:'Avenir-Next-HeavyIt';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-HeavyIt.otf");

}

@font-face{
font-family:'Avenir-Next-It';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-It.otf");

}

@font-face{
font-family:'Avenir-Next-Light';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");

}

@font-face{
font-family:'Avenir-Next-LightIt';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-LightIt.otf");

}

@font-face{
font-family:'Avenir-Next-Medium';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Medium.otf");

}

@font-face{
font-family:'Avenir-Next-MediumIt';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-MediumIt.otf");

}

@font-face{
font-family:'Avenir-Next-Regular';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");

}

@font-face{
font-family:'Avenir-Next-Thin';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Thin.otf");

}

@font-face{
font-family:'Avenir-Next-ThinIt';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-ThinIt.otf");

}

@font-face{
font-family:'Avenir-Next-UltLt';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-UltLt.otf");

}

@font-face{
font-family:'Avenir-Next-UltLtIt';	 src:url("../fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-UltLtIt.otf");

}
