@import "../../mixins.scss";
.VidDesc {
    color: #323232;

    @include mobile {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }
    @include tablet{
        margin-left:0;
        margin-right: 0;
    }
    &__Desc {
        font-family: "Avenir-Next-Light";
        @include mobile {
            font-size: 12px;
            line-height: 20px;
            padding-bottom: 40px;
        }

        @include tablet {
            font-size: 16px;
            line-height: 24px;
            width: 75%;
            padding-bottom: 64px;
        }

        display: flex;
        flex-wrap: wrap;

        margin: 0;
    }
    &__Info {
        font-family: "Avenir-Next-Demi";
        display: flex;
        @include mobile {
            justify-content: left;
            flex-wrap: wrap;
            margin-bottom: 24px;
        }

        @include tablet {
            justify-content: space-between;
            margin-bottom: 40px;
        }
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 24px;
    }
    &__title {
        @include mobile {
            font-size: 24px;
            margin-bottom: 16px;
        }

        @include tablet {
            font-size: 36px;

            margin-bottom: 24px;
            margin-top: 48px;
        }

        @include desktop {
            margin-top: 40px;
        }

        font-family: "Avenir-Next-Bold";
    }
    &__postInfo {
        display: flex;
        font-size: 16px;
        line-height: 24px;
        @include mobile {
            margin-bottom: 32px;
        }
        @include tablet {
            margin: 0;
        }
        align-items: center;
        &--channel {
            margin: 0;
        }
        &--date {
            color: #afafaf;
            padding-left: 8px;
            margin: 0;
        }
    }

    &__trendsInfo {
        display: flex;
        align-items:center;

        @include desktop {
            margin-right: 32px;
        }
        &--icon {
            margin: 0;
            @include tablet {
                padding-left: 24px;
            }
        }

        &--text {
            margin-left: 8px;
            margin-top: 0;
            margin-bottom: 0;
            font-family: "Avenir-Next-Light";
        
            @include mobile {
                margin-right: 24px;
            }
            @include tablet {
                margin-right: 0;
            }
        }
    }
}
