@import "../../mixins.scss";
@import "../../fonts.scss";
.CurrentVid{
    width: 100%;
    @include mobile{
        height: 183px;
    }
    @include tablet{
        height: 400px;
    }
    @include desktop{
        height: 520px;  
    }
  
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    &__player{
        @include mobile{
            width: 100%;
        }
        @include tablet{
            width: 700px;
        }
        @include desktop{
             width: 944px;   
        }
    
        height: inherit;
        margin: 0;
     
        &--bgimg{
            
            margin: 0;
            padding:0;
           
        }
    }
 

}
