@import "../../mixins.scss";
@import "../../fonts.scss";
.CurrentVid{
    width: auto;
    height: 520px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    &__player{
        width: 944px;
        height: inherit;
        margin: 0;
     
        &--bgimg{
            width: 944px;
            height: 540px;
            margin: 0;
            padding:0;
           
        }
    }
 

}
