@import "variables.scss";




@mixin desktop{
    @media(min-width:$desktop )
    {
        @content;
    }
}


@mixin desktop-padding{
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 5%;
}

@mixin tablet-padding{   
    
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 5%;
}



@mixin tablet{
   @media (min-width:$tablet){
       @content;
   }
}

@mixin mobile{
    @media (min-width:$mobile){
        @content;
    }
}








