@import "../../mixins.scss";

.Comments {
    font-size: 14px;
    line-height: 20px;
   padding-top: 12px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-bottom: solid 1px #e1e1e1;
   
    &__box {
        display: flex;
        flex-direction: row;
        padding-bottom: 24px;
        width: auto;
        height: auto;
        width: inherit;
    }

    &__div {
        @include mobile {
            width: 224px;
        }

        @include tablet {
            width: 650px;
        }
    }

    &__heading {
        display: flex;
        align-items: baseline;
        height: auto;

        @include mobile {
            justify-content: space-between;
        }
        @include tablet {
            justify-content: left;
        }

        &--time {
            color: #afafaf;
            font-family: "Avenir-Next-light";
            padding-left: 1rem;
        }

        &--name {
            color: #323232;
            font-family: "Avenir-Next-Demi";

            @include mobile {
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
        }
    }

    &__icon {
        border-radius: 50%;
        display: flex;
        align-items: center;
        background-color: silver;
        align-self: start;
        width: 40px;
        height: 40px;
        margin-right: 16px;
        margin-top: 12px;
        @include mobile {
        }
    }

    &__comment {
        font-family: "Avenir-Next-Light";
        margin: 0;
       flex-wrap: wrap;
       @include tablet{
         width: 624px;  
       }
       

       

       
    }
}